@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@layer utilities {
  @keyframes shine {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }
  .animate-shine {
    animation: shine 1s linear infinite;
  }
}

@theme {
  --font-noto: "Noto Sans", sans-serif;
}
